function Sys.init 0
push constant 3
call Main.fact 1
pop static 0   // guarda factorial(3)
label END
goto END

function Main.fact 0
push argument 0
push constant 2
lt
if-goto BASE_CASE

// recursive case: n * fact(n - 1)
push argument 0
push argument 0
push constant 1
sub
call Main.fact 1
call Math.multiply 2
return

label BASE_CASE
push constant 1
return

function Math.multiply 1   // <-- corregido
push argument 0
push argument 1
lt
if-goto SWAP
goto CONT

label SWAP
push argument 0
push argument 1
pop argument 0
pop argument 1

label CONT
push constant 0
pop local 0 // acumulador
label LOOP
push argument 1
push constant 0
eq
if-goto END
push local 0
push argument 0
add
pop local 0
push argument 1
push constant 1
sub
pop argument 1
goto LOOP
label END
push local 0
return
